.my-slider-progress {
    background: #ccc;
  }
  
  .my-slider-progress-bar {
    background: brown;
    height: 10px;
    transition: width 200ms ease;
    width: 0;
  }
  
  .splide__slide{
    background-color: #ccc;
    height: 40em;
    width: auto;
    border: 1em solid #7E522B;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .splide{
    padding-left: 25em;
    padding-right: 25em;
  }

  .splide a{
    text-decoration: none;
    transition: color 300ms ease;
    font-size: 6em;
    text-shadow: #7E522B 0px .1em ;
  }
 