/* General Styles */
body {
    background-color: #FDF4ED;
    max-width: 100%;
    overflow-x: hidden;
}

/* Typography */
.balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.balsamiq-sans-bold {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.balsamiq-sans-regular-italic {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.balsamiq-sans-bold-italic {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/* Section Styles */
.SSection {
    display: block;
    margin: 0 auto;
    padding-bottom: 5em;
    width: 80%;
}

.tem, .tem1{
    margin: 0 auto 6em auto;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    padding-bottom: 6em;
    background-repeat: no-repeat;
    background-attachment: contain;
}

.tem{
    width: 108em;
    height: 50em;
}

.tem1 {
    width: 115em;
    height: 55em;
    padding: 3em;
}

.tem1 {
    display: block;
}

.tem-contain-info {
    display: flex;
    justify-content: space-between;
    width: 60em;
    height: 25em;
    border-radius: 1em;
    padding: 3em;
    background-color: #EECBB7;
    color: #FDF4ED;
    margin-top: 2em;
}

/* Titles */
#box-title, #box-title-01 {
    font-family: "Balsamiq Sans", sans-serif;
    font-size: 5em;
    color: #FDF4ED;
    font-weight: 600;
    position: relative;
    left: 1em;
    margin-top: .3em;
}

#box-title-01 {
    top: 0em;
    left: 0em;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#info-tit {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1em;   
}

#container-tit {
    background-color: #757575;
    border-radius: .5em;
    font-size: 2.5em;
    padding: .5em;
    color: #FDF4ED;
    margin-right: 1em;
}

/* Containers */
.container-info {
    position: relative;
    top: 14em;
    left: -8em;
}

#Mshot {
    position: relative;
    top: 14.2em;
    left: -13em;
    width: 30em;
    height: 30em;
    background-color: #FDF4ED;
    border-radius: 2em;
    transition: background-color 300ms;
    opacity: .8;
}

/* Navbar */
.navbar {
    width: 70%;
    height: 100px;
}

.nav-bac {
    position: absolute;
    z-index: -10;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FDF4ED;
    text-decoration: none;
}

#link{
    text-decoration: none;
}

nav-link:{
    text-decoration: none;
}

#nav-home, .nav-home {
    color: #EECBB7;
}

.nav-link {
    color: #fbd5b8;
    font-weight: bolder;
    font-size: xx-large;
    margin: 10px;
}


.logo-nav {
    position: absolute;
    top: 1em;
    left: 3em;
    width: 7em;
    height: 7em;
}

.nav-cont {
    margin-left: 15em;
}

/* Hero Section */
.hero {
    width: 100%;
    height: 70rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-box {
    position: absolute;
    left: -5em;
    width: 2em;
    height: 40em;
    background-color: #757575;
}

.hero-section {
    position: absolute;
    top: 18em;
    left: 12rem;
    width: 50%;
    font-family: "Baloo 2", sans-serif;
}

.hero-name0 {
    font-size: 5em;
    margin-left: .2em;
    color: #BDBDBD;
    font-weight: 600;
}

.hero-name1 {
    font-size: 8em;
    font-weight: bolder;
    line-height: 1em;
    color: #757575;
}

.hero-name2 {
    font-weight: light;
}

.heroImg {
    position: absolute;
    top: -10em;
    right: -20em;
    z-index: -9;
}

/* Section 1 */
.ss1 {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 60em;
}

/* Footer */
.foot {
    background-image: url('Fotter.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50em;
    margin-bottom: 0;
    
}

#foot-p {
    font-size: 3.5em;
    text-align: center;
    color: #FDF4ED;
    text-decoration: underline;
}

.fot-link {
    color: #FDF4ED;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10%;
}

.fot-link-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin-top: 2em;
    list-style: none;
    gap: 3rem;
    font-size: 2em;
    opacity: .8;
    margin-left: 1.5em;
}

#foot-p-2 {
    font-size: 1em;
    color: #FDF4ED;
    opacity: .5;
    text-align: center;
    position: relative;
    bottom: 5%;
}

.fot-link-icon {
    font-size: 3em;
    color: #FDF4ED;
    transition: color 300ms;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2.5em;
    margin: 1em 0 0 2.5em;
}

/* Skills Section */
.container-info-skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 2em;
    column-gap: 0em;
    place-items: center;
    margin-right: 3em;
    margin-left: 3em;
    /* padding: 3em; */
}

.container-info-skills img {
    width: 16em;
    height: auto;
    object-fit: contain;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    height: 20%;
    width: 10%;
}

.app-background{
    background-image: url('Port_Back.png');
    background-attachment: contain;
    height: 100;
    width: 100%;
}

#CMOut{
    color: #FDF4ED;
    font-size: x-large;
    text-decoration: none;
}

.Csection{
    justify-content: center;
    align-items: center;
    text-align: center;
}